body {
  border-left: 2px solid black;
  background-color: lightgrey;
}

header,
main,
footer {
  background-color: white;
  border-right: 1px solid black;
  padding-left: 8px;
}

#intro,
#verse,
#chorus {
  padding: 8px;
}

#artists {
  margin-top: -10px;
  font-weight: normal;
}

header img {
  text-align: right;
}

ul {
  list-style-type: none;
}
/* table {
  border: 1px solid black;
} */
